.card-complete {
  @media screen and(max-width:640px) {
       width: 97.5vw;  
       
        }
  border: 3px solid $color-3;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  margin: 8px auto;
  height: 100%;
  min-height: 380px;
  background-image: url("../assets/img/back_card.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  
  .card-container {
    display: grid;
    grid-template-columns: 66px 1fr;
    
    
   

    .fa-spinner {
      position: absolute;
      top: 40%;
      left: 49%;
      font-size: 1.5rem;
      color: $color-1;
    }

    .card-left {
      @media screen and(max-width: 1024px) {
        z-index: 10;
      }
      .cadre {
        width: 58px;
        height: 58px;
        z-index: 3;
        transform: translateY(-52px);
      }

      .poster_pic {
        object-fit: cover;
        width: 51px;
        height: 51px;
        transform: translate(4px, 8px);

      }
      
      .button-container {
        div {
          padding: 10px;
          margin: 5px;
          background-image: url("../assets/img/stain_lil_btn.png");
          background-repeat: no-repeat;
          background-size: 50px;
          transform: translate(10px, -45px);
          transition: 0.1s;
          cursor: pointer;

          &:hover {
            background-image: url("../assets/img/stain_lil_btn_hover.png");
          }

          #eraser,
          #marker {
            height: 32px;
            width: 32px;
          }
        }
      }
    }

    .card-right {
      height: 480px;
      
      @media screen and(max-width: 1024px) {
        margin-left: 18px;
        width: 45vw;
      }
      @media screen and(max-width: 720px) {
        margin-left: 18px;
        width: 80vw;
      }
      @media screen and(max-width: 480px) {
       
        width: 75vw;
      }
      
      .card-header {
        display: flex;
        justify-content: space-between;
        margin: 12px 0 24px;
        min-height: 32px;

        @media screen and(max-width: 480px) {
          transform: translateY(-0.9rem);
        }


        .pseudo {
          @media screen and(max-width: 480px) {
          font-size: 1.6rem;
        }
          display: flex;
          font-family: $font-4;
          font-size: 2em;
          transform: translateY(15px);
          text-shadow: 2px 2px 0px $color-1;
          z-index: 10;

          @media screen and(max-width: 720px) {
            margin-left: -0.5rem;
          }
          @media screen and(max-width: 440px) {
            transform: translateY(-18px);
          }

          span {
            cursor: pointer;
            margin: 0 0 -1rem 0.5rem;
          

            @media screen and(max-width: 440px) {
              margin: 0px 0 -10px;
              padding: 0;
            }

            img {
            
              background-image: url("../assets/img/stain_lil_btn.png");
          background-repeat: no-repeat;
          background-size: 105% 105%;
              background-position: -0.1rem -0.1rem;
              padding: 0.3rem;
              box-shadow: none;
              height: 28px;
              width: 28px;
              transform: translate(1rem, -1rem);

            }

            .far {
              color: $color-2;
            }
          }
        }

        span {
          font-style: italic;
          font-family: $font-1;
          font-size: 0.7em;
          margin-right: 15px;
          transform: translateY(5px);

          @media screen and(max-width: 440px) {
            transform: translate(52px, -20px);
          }
        }
      }
      
      .message-complete {
        @media screen and(max-width:1024px) {
      transform: translateY(-4rem);
      
    }
        @media screen and(max-width:640px) {
      width: 70%;
      
    }
        @media screen and(max-width: 480px) {
          transform: translate(-0.6rem, -5rem);
          width: 100%;
        }
        width: 100%;
        height: 300px;

        
        ::-webkit-scrollbar {
          width: 20px;
          min-height: 100%;
          background-color: transparent;
        }
        ::-webkit-scrollbar-button {
          display: none;
        }
        ::-webkit-scrollbar-track {
          background-color: transparent;
        }
        ::-webkit-scrollbar-track-piece:start {
          border-top: 19px inset transparent;
          background-image: url("../assets/img/vertical_scrolbar_gris.png");
          background-repeat: no-repeat;
          background-size: 16px;
        }
        ::-webkit-scrollbar-track-piece:decrement {
          background-image: url("../assets/img/vertical_scrolbar_gris.png");
          background-repeat: no-repeat;
          background-size: 16px;
        }
        ::-webkit-scrollbar-track-piece:increment {
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: 16px;
        }
        ::-webkit-scrollbar-thumb {
          border-top: 4px inset transparent;
          background-image: url("../assets/img/pen_thumb_gris.png");
          background-repeat: no-repeat;
          background-size: 15px;
        }

        #stain_text {
          @media screen and(max-width:1024px) {
      width: 560px;
          height: 390px;
          transform: translate(-5.5rem, 1rem);
    }
          @media screen and(max-width:480px) {
      width: 470px;
          height: 360px;
          transform: translate(-5.85rem, 1.5rem);
    }
          z-index: -1;
          width: 600px;
          height: 460px;
          transform: translate(-16px, -78px);
        }
        .message {
          @media screen and(max-width:1024px) {
            width: 380px;
         
            transform: translate(1rem, -17rem);       
          }
          @media screen and(max-width:480px) {
            width: 300px;
            transform: translate(-1rem, -16rem);       
          }

          z-index: 20;
          transform: translate(80px, -425px);
          width: 400px;
          height: 186px;
          margin: 0px;
          overflow-y: scroll;

          p {
            @media screen and(max-width:1024px) {
              
              font-size: 1.3rem;
            }
            @media screen and(max-width:480px) {
              
              font-size: 1.3rem;
            }
            padding: 10px 5px;
            margin: 3px 0 9px;
            font-size: 1.6rem;
            font-family: $font-5;

            @media screen and(max-width: 440px) {
              margin-top: -18px;
            }
          }
        }
      }
      .update-post {
        @media screen and(max-width:1024px) {
          width: 55vw;
          transform: translate(-5rem, -1.5rem);
        }
        @media screen and(max-width:720px) {
          width: 90vw;
          transform: translate(-4rem, -1.5rem);
        }
        #brush-text {
          width: 100%;
          height: 290px;
          z-index: -4;
        }
        textarea {
          z-index: 10;
          height: 220px;
          font-size: 1.3rem;
          margin-right: 50px;
          padding: 40px 55px 0px 65px;
          transform: translateY(-270px);
        }
        .button-container {
          @media screen and(max-width:480px) {
          transform: translate(12.5rem, -15.9rem);
          
        }
          transform: translate(240px, -280px);
          .btn {
            @media screen and(max-width:480px) {
              font-size: 1.2rem;
              height: 10rem;
              padding-top: 2rem;
              background-image: url("../assets/img/stain_orange_3.png");
              background-repeat: no-repeat;
              background-size: 100% 100%;
              background-position: -1.8rem -3rem;
            }
            font-size: 1.3em;
            text-align: center;
            background-image: url("../assets/img/brush_btn_submit.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 220px;
            height: 62px;
            margin-top: 18px;
            padding-top: 16px;
            text-shadow: 1px 2px 0px $color-1;

            &:hover {
              background-image: url("../assets/img/brush_btn_submit_hover.png");
              text-shadow: 1px 2px 0px $white;
            }
          }
        }
      }

      .border-post-picture {
        @media screen and(max-width:1024px) {
          transform: translate(10.4rem, -13rem);
        }
        @media screen and(max-width:720px) {
          transform: translate(23rem, -27rem);
          width: 190px;
        height: 174px;
        }
        @media screen and(max-width:640px) {
          transform: translate(8rem, -13.9rem);
          
        }
        @media screen and(max-width:480px) {
          transform: translate(6rem, -15.9rem);
          
        }
        width: 146px;
        height: 130px;
        z-index: 3;
        transform: translate(480px, -440px);
      }

      .post-picture {
        @media screen and(max-width:1024px) {
          transform: translate(11rem, -4.5rem);
        }
        @media screen and(max-width:720px) {
          transform: translate(23.5rem, -15.6rem);
          width: 170px;
          height: 170px;
        }
        @media screen and(max-width:640px) {
          transform: translate(8.5rem, -2.5rem);
          
        }
        @media screen and(max-width:480px) {
          transform: translate(6.6rem, -4.5rem);
          
        }
        z-index: 0;
        width: 127px;
        height: 127px;
        transform: translate(491px, -305px);
        .card-pic {
          width: 100%;
          height: 90%;
          object-fit: cover;
          z-index: 0;
        }
      }

      .update-border {
        @media screen and(max-width:1024px) {
          transform: translate(-0.5rem, -8rem);
        }
        @media screen and(max-width:720px) {
          transform: translate(-0.5rem, -8rem);
        }
        @media screen and(max-width:480px) {
          transform: translate(-0.5rem, -8rem);
        }
        width: 146px;
        height: 130px;
        z-index: 3;
        transform: translate(35rem, -36rem);
      }

      .update-post-picture {
        @media screen and(max-width:1024px) {
          transform: translate(0rem, -23rem);
        }
        @media screen and(max-width:480px) {
          transform: translate(0rem, -28.5rem);
        }
        width: 127px;
        height: 127px;
        transform: translate(35.5rem, -27rem);
        .update-card-pic {
          width: 100%;
          height: 90%;
          object-fit: cover;
          z-index: 0;
        }
        .add-pic {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 0.3rem;
          color: $color-3;
          cursor: pointer;

          .plus {
            margin-top: 0.6rem;
            font-family: $font-2;
            font-size: 2rem;
            padding: 0.3rem 0.25rem 0 0.2rem;
            border: 2px solid $black;
            border-radius: 50%;
          }
        }
      }

      .post-video {
        
        
        .post-video-iframe {
          transform: translate(13.8rem, -19.7rem);


          @media screen and(max-width:1024px) {
              transform: translate(12rem, -14.5rem);
          }
          @media screen and(max-width:720px) {
              transform: translate(3rem, -31rem);
          }
          @media screen and(max-width:640px) {
              transform: translate(-10.5rem, -13.5rem);
        }
          @media screen and(max-width:480px) {
              transform: translate(2.5rem, -13.5rem);
        }
          
 


        }
        .update-video {
          @media screen and(max-width:1024px) {
              transform: translate(-17.5rem, -23rem);
          }
          @media screen and(max-width:720px) {
              transform: translate(-17.1rem, -34rem);
          }
          @media screen and(max-width:480px) {
              transform: translate(-3rem, -37rem);
          }
          transform: translate(16.1rem, -30rem);
        }
        .border-card-video {
          @media screen and(max-width:1024px) {
            transform: translate(10.8rem, -5.3rem);
          }
          @media screen and(max-width:720px) {
              transform: translate(18.6rem, -30.2rem);
          }
          @media screen and(max-width:640px) {
              transform: translate(5.1rem, -12.9rem);
        }
          @media screen and(max-width:480px) {
              transform: translate(1.3rem, -4.4rem);
        }
          transform: translate(29.5rem, -19rem);
        }
        .border-update-card-video {
          @media screen and(max-width:1024px) {
            transform: translate(-4.4rem, -22.5rem);
          }
          @media screen and(max-width:720px) {
            transform: translate(-4rem, -33.5rem);
          }
          @media screen and(max-width:480px) {
            transform: translate(-4rem, -28.9rem);
          }
          transform: translate(29.2rem, -30rem);
        }
      }
    }
  }
  .light {
    @media screen and(max-width: 480px) {
        height: 355px;
      }
  }
}
.empty-space {
  @media screen and(max-width: 480px) {
        height: 90px;
      }
}
.card-footer {
  @media screen and(max-width:1024px) {
    width: 40%;
    transform: translate(4.8rem, -2rem);
    justify-content: space-between;
  }
  @media screen and(max-width:720px) {
    width: 75%;
    transform: translate(4.2rem, -3rem);
    justify-content: space-between;
  }
  @media screen and(max-width:640px) {
    margin-top: 6rem;
        }
  @media screen and(max-width:480px) {
    margin-top: 3rem;
    width: 65%;
    transform: translate(3.6rem, -3rem);
        }
  display: flex;
  width: 80%;
  position: fixed;
  transform: translate(-80px, -80px);
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    height: 22px;
    width: 22px;
    cursor: pointer;
    transition: 0.2s;
  }
  .comment-icon,
  .like-container {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      font-family: $font-3;
      font-size: 1.5rem;
      position: absolute;
      transform: translateX(29px);
    }
  }
  .like-container {
    .like_icon {
      img {
        width: 50px;
        height: 50px;
      }
    }
    span {
      position: absolute;
      transform: translateX(54px);
    }
  }
}
.card-comments {
  @media screen and(max-width:480px) {
   margin-top: 3rem;
    }
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  .comment-container,
  .comment-container-client {
    @media screen and(max-width:1024px) {
      width: 45vw;
    }
    @media screen and(max-width:720px) {
      width: 75vw;
    }
    @media screen and(max-width:640px) {
      width: 75vw;
    }
    @media screen and(max-width:480px) {
      width: 80vw;
      margin-top: 1rem;
      padding: 4rem 4rem 2rem;
    }
    
    box-sizing: border-box;
    width: 40vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 -2rem 0 0;
    margin: 1rem;
    border-radius: 6px;



    .comment-top {
      @media screen and(max-width: 1024px) {
        width: 40vw;

          }
      @media screen and(max-width: 720px) {
        width: 70vw;
   
          }
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 1.2rem;
      .left-part {
        
        margin-right: 0.8rem;
        padding-bottom: 5rem;
        .commenter-pic {
          
          height: 50px;
          width: 50px;
          border-radius: 6px;
          box-shadow: 1px 1px 3px 1px rgba(51, 51, 51, 0.192);
          object-fit: cover;
          background-color: #f9f4f7;

          
        }
      }
      .right-part {
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0.5rem;

        .comment-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 0.5rem;
          transform: translateY(-1.3rem);

          @media screen and(max-width: 480px) {
            flex-direction: column;
            margin-left: 0rem;
          }

          .pseudo {
            @media screen and(max-width: 480px) {
              transform: translateX(-2rem);
              width: 48vw;
            justify-content: space-around;
            .commenter-pic {
          
          height: 50px;
          width: 50px;
          border-radius: 6px;
          box-shadow: 1px 1px 3px 1px rgba(51, 51, 51, 0.192);
          object-fit: cover;
          background-color: #f9f4f7;

          
        }
            
          }
            display: flex;
            justify-content: flex-start;
            width: 20vw;

            h3 {
              font-family: $font-3;
              font-size: 1.6rem;
            }
            .follow-unfollow-btn {
              transform: translate(-2px, 3px);
              cursor: pointer;
              margin-left: 0.5rem;
              background-color: transparent;
              transition: none;
              img {
                box-shadow: none;
                width: 15px;
                height: 15px;
              }
            }
          }

          .date-post {
            @media screen and(max-width:1024px) {
              width: 12vw;
            }
            @media screen and(max-width:720px) {
              width: 20vw;
            }
            @media screen and(max-width:480px) {
              width: 25vw;
              padding-top: 0.4rem;
              transform: translate(4rem, -2rem);
            }
            width: 10vw;
            font-size: 0.6rem;
            font-style: italic;
            font-family: $font-1;
            padding-top: 1rem;
          }
        }

        .comment {
          @media screen and(max-width:1024px) {
              width: 30vw;
            }
          @media screen and(max-width:720px) {
              width: 50vw;
            }
            @media screen and(max-width: 480px) {
              text-align: center;
              width: 55vw;
           transform: translate(0rem, -2.6rem);
          }
          font-family: $font-2;
          width: 25vw;
          min-height: 13vh;
          font-size: 1.1rem;
          margin-left: 1rem;
          margin-bottom: 0.5rem;
          padding-right: 0.5rem;
          transform: translateY(-0.5rem);
          overflow: hidden;
        }
      }
    }
    .edit-comment {
      @media screen and(max-width:480px) {
          width: 90vw;
          transform: translate(2rem, -2rem);
          
            }
      color: $color-2;
      .edit-comment-btn {
        @media screen and(max-width:720px) {
              
            }
        @media screen and(max-width:480px) {
          transform: translate(15rem, -1rem);
            }
        font-size: 0.9rem;
        color: $white;
        text-shadow: none;
        cursor: pointer;
        background-position-y: 0.8rem;
        padding:1.4rem 1rem;
        margin-bottom: 0.5rem;
        background-image: url("../assets/img/stain_scroll.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: -0.15rem 0rem;
          transform: translate(22rem, -2rem);
         &:hover {
              text-shadow: 0px 1px 1px $color-1;
            }

      }

      .edit-comment-form {
        @media screen and(max-width:480px) {
          width: 80vw;
          
            }
        display: flex;
        flex-direction: column;
        width: 35vw;
        margin-left: 1.5rem;
        padding: 0.6rem;

        .edit-area {
          @media screen and(max-width:480px) {
              background-image: url("../assets/img/stain_scroll.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: -0.3rem 0.1rem;
          padding: 1rem;
            }
          display: flex;
          justify-content: center;
          background-image: url("../assets/img/brush_btn2_inactive2.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: 0.5rem -0.1rem;
          label {
            height: 1.5rem;
            background: $color-2;
            color: $color-1;
            margin-top: 0.5rem;
            padding: 0 5px 5px 5px;
            border-radius: 50%;
            cursor: pointer;
            display: inline-block;
            font-family: $font-3;

            
          }
          .update-comment-area {
            @media screen and(max-width:480px) {
              color: $white;
              width: 90%;
              text-align: center;
              margin-top: 2rem;
            }
            padding: 1rem 2rem 5rem 3rem;
            font-size: 0.9rem;
            width: 100%;
            border-radius: 6px;
          }
        }

        .btn {
          display: flex;
          justify-content: space-around;
          align-items: center;

          .trash-comment-btn,
          .update-comment-btn {
            @media screen and(max-width:480px) {
              font-size: 0.8rem;
              width: 20vw; 
              padding: 0.4rem 0.8rem;
            }
            padding: 0.3rem 0.8rem;
            font-size: 1rem;
            width: 15vw;
            cursor: pointer;

            &:hover {
              color: $color-2;
              text-shadow: 1px 2px 0px $black;
            }
          }

          .trash-comment-btn {
            @media screen and(max-width:480px) {
              background-position-y: 0.1rem;
            }
          
            margin-right: 2rem;
            margin-bottom: 0.4rem;
            background-position-y: 0.2rem;
            transform: translateY(0.5rem);
            background-color: transparent;
          }
          .update-comment-btn { 
            @media screen and(max-width:480px) {
              background-position-y: 0.15rem;
            }
            
            margin-left: 1rem;
            background-position-y: 0rem;
            transform: translateY(0.2rem);
          }
        }
      }
    }
  }
  .comment-container-client {
    @media screen and(max-width:480px) {
      background-image: url("../assets/img/stain_lil_btn_hover.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position-x: 1rem;

      
    }
    color: rgb(61, 61, 61);
    margin-right: 5rem;
    background: transparent;
    background-image: url("../assets/img/brush_btn1_hover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: 1rem;

    
    

  }
  .comment-container {
    @media screen and(max-width:480px) {
      background-image: url("../assets/img/stain_scroll.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position-x: 0rem;
    }
    
    background-image: url("../assets/img/brush_btn1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: 1rem;
    color: $white;

    

  }
  .comment-form {
     @media screen and(max-width:1024px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1rem;
    }
    @media screen and(max-width:480px) {
     align-items: center; 
     width: 85vw;
    }
    
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 2rem 5rem 2rem;

    .post-comment {
      @media screen and(max-width:1024px) {
      width: 50vw;
      margin-top: 2rem;
      margin-right: 0rem;  
      padding: 1rem 2.8rem;
      }
      @media screen and(max-width:720px) {
       width: 85vw; 
       font-size: 1.4rem;
       
          }
      @media screen and(max-width:640px) {
    margin-top: 7.5rem;
    font-size: 1.3rem;
        }
        @media screen and(max-width:480px) {
      width: 90vw;
      margin-top: 1.5rem;
      margin-left: 2rem;
      font-size: 1.2rem;
    }

      margin-top: 0;
      flex: 3;
      background-image: url("../assets/img/brush_input_focus.png");
      background-repeat: no-repeat;
      background-size: 95% 100%;
      background-position-x: 1rem;
      border-radius: 6px;
      padding: 1rem;
      font-size: 1.4rem;
    }

    .post-comment-btn {
      @media screen and(max-width:1024px) {
        padding-left: 1rem;
        width: 20vw;
        background-position: 3rem 1rem;
      }
      @media screen and(max-width:720px) {
        font-size: 1.2rem;
        background-position: 2.2rem 1rem;
      }
      @media screen and(max-width:480px) {
          width: 30vw;
          margin-left: 1.5rem;
    }
      background-image: url("../assets/img/stain_lil_btn.png");
      background-repeat: no-repeat;
      background-size: 60% 70%;
      background-position: 1.9rem 1rem;
      padding: 3rem 0rem;
      flex: 1;
      font-size: 1.5rem;
      border-radius: 6px;
      margin-left: 1rem;

      &:hover {
        @media screen and(max-width:1024px) {
        padding-left: 1rem;
        width: 20vw;
        background-position: 3rem 1rem;
        }
        @media screen and(max-width:720px) {
          background-position: 2.2rem 1rem;
        }
        @media screen and(max-width:480px) {
      
    }
        background-image: url("../assets/img/stain_lil_btn_hover.png");
        background-repeat: no-repeat;
        background-size: 60% 70%;
        background-position: 1.9rem 1rem;
        width: 130px;
      }
    }
    button {
      float: right;
      background: $color-1;

      &:hover {
        background: $color-2;
      }
    }
  }
  .like-container {
    span {
      font-size: 1.02rem;
      position: absolute;
      transform: translate(8px, -1px);
    }
  }
  .fa-share-alt {
    transform: translate(0, 2px);
  }
}
.update-post {
  textarea {
    color: $color-3;
    width: 100% !important;
    height: 80px;
  }
  .button-container {
    button {
      margin: 0;
      margin-left: 5px;
      width: 150px;
      cursor: pointer;

      &:nth-child(1) {
        background: $color-1;
      }
    }
  }
}


