@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/Aileron-SemiBold.otf);
}
@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/Kalam-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(./assets/fonts/edo.ttf);
}
@font-face {
  font-family: "font-4";
  src: url(./assets/fonts/blowbrush.otf);
}
@font-face {
  font-family: "font-5";
  src: url(./assets/fonts/Kalam-Regular.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;
$font-3: "font-3", serif;
$font-4: "font-4", sans-serif;
$font-5: "font-5", sans-serif;

$color-1: #f99c2e;
$color-2: #fcc680;
$color-3: rgb(64, 64, 64);
$color-4: #d1d1d1;
$color-5: #62152e;
$black: rgb(0, 0, 0);
$white: #f9f7f4;
$shadow: rgb(219, 218, 218);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;

  &::selection {
    background: $white; 
  } 
  
body {
  width: 100%;
  overflow-x: hidden;
 
}

a,
a:visited {
  color: $color-1;
}

img {
  background-color: transparent;
}

input,
textarea {
  margin-top: 12px;
  vertical-align: middle;
  border: none;
  resize: none;
  overflow: auto;
  width: 320px;
  color: $color-3;
  font-family: $font-2;
  
}


input[type="text"], input[type="password"]{
  font-size: 1.4rem;
  text-align: center;
  width: 400px;
  background-color: transparent;
  background-image: url('./assets/img/brush_input.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  outline: none;

  &:focus {
    background-image: url('./assets/img/brush_input_focus.png');
  }
}

textarea{
  color: $color-1;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
}

button,
input[type="submit"] {
  background-color: transparent;
  background-image: url('./assets/img/brush_btn_submit.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $color-3;
  font-family: $font-3;
  cursor: pointer;
  margin: 0;
  font-size: 1.1rem;
  text-shadow: 1px 2px 0px $color-1;

  &:hover {
    background-image: url('./assets/img/brush_btn_submit_hover.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: $color-3;
    text-shadow: 1px 2px 0px $color-4;
  }
}

#back-home {
  background-image: url('./assets/img/player_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $color-3;
  text-shadow: 1px 2px 0px $color-4;

  &:hover {
    color: $color-1;
    text-shadow: 1px 2px 0px $black;
  }
}


input[type="checkbox"] {
  box-shadow: none;
  width: 20px;
  margin: 10px 0;
}

input[type="file"] {
  opacity: 0;
}

body {
  font-family: $font-3;
  line-height: 1.4rem;
  background: $white;
  color: $color-3;
}

.error {
  color: rgb(166, 57, 57);
  font-weight: bold;
}

.success {
  color: rgb(22, 122, 22);
  font-weight: bold;
}

.loader-page {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: 100%;
  height: 100vh;

  .loader {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .loader_content {
      opacity: 0.85;
      width: 50px;
      height: 50px;

    } 
    .content1 {
      background-color: transparent;
      background-image: url('./assets/img/stain_scroll.png');
      background-repeat: no-repeat;
      background-size: 100% 90%;
      position: relative;
      top: 9rem;
      left: 2rem;
    }
    .content2 {
      background-color: transparent;
      background-image: url('./assets/img/stain_orange_1.png');
      background-repeat: no-repeat;
      background-size: 100% 90%;
      position: relative;
      top: 10rem;
      left: 7rem;
     
    }
    .content3 {
      background-color: transparent;
      background-image: url('./assets/img/stain_grey_3.png');
      background-repeat: no-repeat;
      background-size: 100% 90%;
      position: relative;
      top: 0rem;
      left: -2rem;
    }
    .content4 {
      background-color: transparent;
      background-image: url('./assets/img/stain_orange_3.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative;
      top: -7rem;
      left: -3rem;
    }
    .content5 {
      background-color: transparent;
      background-image: url('./assets/img/stain_lil_btn_hover.png');
      background-repeat: no-repeat;
      background-size: 100% 90%;
      position: relative;
      top: 12rem;
      left: -3rem;
    }
    
  }
}
  
}
